body{
    background-color: slategray;
}
#screen{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    flex-wrap: wrap;
    justify-content: space-between;
}

/*sets up where the attack choices will go center screen*/
#attackChoice{
    height: 18vh;
    width: 40vw;
    margin: auto;
}

/*sets up the enemy part of the screen*/
#enemy{ 
    width: 100vw;
    height: 40vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#enemyHealth{
    max-height: 40vh;
    width: 40vw;
}
#enemyPic{
    max-height: 40vh;
    width: 30vw;
}

/*sets up the players part of the screen*/
#player{
    width: 100vw;
    height: 40vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
#playerHealth{
    max-height: 40vh;
    width: 40vw;
}
#playerPic{
    max-height: 40vh;
    width: 30vw;
}

/* changes the progress bars hights */
progress{
    height: 45px;
}

/* sets up the attack window */
#attackChoice{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
button{
    width:8.5em;
}
#windAttack{
    background-color: darkgray;
    color:white;
}
#earthAttack{
    background-color: brown;
    color:white;
}
#fireAttack{
    background-color: darkred;
    color:white;
}
#waterAttack{
    background-color: royalblue;
    color: white;
}